In [1]:
import pandas as pd

fruits = pd.Series(['사과', '바나나', '포도'])
fruits

0     사과
1    바나나
2     포도
dtype: object

In [ ]:
df = pd.DataFrame({
    '상품': ['키보드', '마우스', '모니터'],
    '가격': [30000, 15000, 200000],
    '재고': [10, 25, 7]
})
df

In [ ]:
# Series
prod_s = df['상품']

# DataFrame
prod_df = df['상품']

print(prod_s)
print(prod_df)

In [ ]:
price_view = df[['상품','가격']]
price_view

In [ ]:
expensive = df.loc[df['가격'] >= 20000, ['상품','가격']]
expensive

In [ ]:
df.loc[df['상품'] == '마우스','가격'] = 17000
df

In [ ]:
sub_iloc = df.iloc[0:2, 0:2]
df

In [ ]:
df['부가세포함가'] = (df['가격'] * 1.10).astype(int)
df